:root {
    --pink: #e83e8c;
    --light: #f8f9fa;
    --light_pink: #f29bc4;
}
body {
    font-size: 20px;
}

h2 {
    font-weight: bold;
    font-size: 28px;
}
.underline {
    border-bottom: 5px solid var(--pink);
}
/*Здесь идет шапка страницы*/
.navbar {
    min-height: 10vh;
    font-size: 26px;
    padding: 0 10%;
}
.btn-outline-success, .btn-success {
    border: 1px solid var(--pink);
    border-radius: 20px;
}

.btn-outline-success {
    color: black;
}
.btn-outline-success:hover {
    background-color: var(--pink);
    border-color: var(--pink);
}

.navbar-nav {
    width: 100%;
    padding-right: 5%;
}
.navbar-light .navbar-brand {
    color: var(--pink);
    font-size: 26px;
    letter-spacing: 2px;
}
.navbar-brand:hover {
    font-weight: bold;
}
.nav-item {
    padding-left: 10px;
}
/*Здесь начинаются стили для страницы*/
.container-fluid {
    padding: 0;
}
/*Верхний блок с информацией о скидках*/
.sale_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    width: 100%;
}
.sale_info {
    padding-left: 10%;
    font-size: 26px;
    line-height: 52px;
}
.sale_header {
    font-size: 28px;
    font-weight: bold;
    width: 60%;
}
.btn-success {
    background-color: var(--pink);
}
.btn-success:hover {
    background-color: #d91a72;
    border-color: #d91a72;
}
/*Здесь идет блок с доступными категориями*/
.categories, h2 {
    padding: 3% 10% 0 10%;
}
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categories img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.categories_elem {
    padding-right: 5vw;
    padding-bottom: 5vh;
}
.category_name {
    text-decoration: none;
    display: block;
    color: black;
}
.category_name:hover {
    color: var(--pink);
}
/*Создается полупрозрачный розовый фон при наведении на изображение категории*/
.img-with-gradient:hover {
    display: inline-block;
    position: relative;
    line-height: 0;
}
.img-with-gradient:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--pink);
    opacity: 0.8;
}
.img-with-gradient:hover:before {
    content: "View more";
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 50%;
    z-index: 100;
}
/* 2 карусели для новых товаров и отзывов покупателей*/
.jcarousel-wrapper, .stories{
    position: relative;
    width: 80%;
    margin: 1em auto;
}
.jcarousel, .carousel-stories {
    overflow: hidden;
    padding-left: 2em;
}
.carousel-element {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    height: 335px;
}
.arrival_img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.arrival_img:hover {
    width: 270px;
    height: 270px;
}
.new-arrivals-info {
    list-style: none;
    padding-left: 5px;
}
.carousel-element-price {
    font-weight: bold;
}
.carousel-element-maker {
    font-family: "Verdana", serif;
    font-style: italic;
}
/*Стилизации стрелок навигации для первой карусели*/
.owl-nav {
    position: absolute;
    width: 100%;
    line-height: 10%;
    top: 40%;
    z-index: 999;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.prev, .next {
    background: none;
    border: none;
    font-size: 3em;
    color: var(--pink);
}
.next:focus, .prev:focus{
    outline: none;
}
.next:hover, .prev:hover {
    font-size: 4em;
}
/*Блок-карусель с отзывами*/
.story {
    width: 100%;
    background-color: var(--light);
    height: 250px;
}

.story_text {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
}
.comment {
    max-height: 150px;
    overflow-y: auto;
    display: block;
    margin: 0;
    padding-bottom: 1em;
}
.customer_photo {
    float: left;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 2em;
}

.comment:before, .comment:after {
    content: '\"';
}
.customer_name, .customer_name:before {
    font-weight: bold;
}
.customer_name:before {
    content: "-";
}

.carousel-stories .owl-item, .jcarousel .owl-item {
    margin-left: .5px;
}
.owl-pagination {
    width: 100%;
    text-align: center;
}
.owl-page {
    width: 16px;
    height: 5px;
    border: 1px solid var(--light_pink);
    background-color: var(--light_pink);
    border-radius: 2px;
    display: inline-block;
    margin: 5px;
    transition: background-color .5s ease, transform .5s ease;
}
.owl-page.active {
    background: var(--pink);
    border-color: var(--pink);
    transform: scale(1.3);
}
/*Стилизация блока с подпиской*/
.sign_up {
    background: url("assets/bg_emailletters.jpg") no-repeat;
    background-size: 100%;
    background-position: center 60%;
    height: 280px;
    object-fit: cover;
    text-align: center;
}
.sign_up .block {
    background: rgba(235, 235, 235, 0.5);
}
.input_email {
    border-radius: 20px;
    padding-left: 2em;
}
.input_email, .btn-submit {
    margin-top: 1em;
}
/*стилизация футера*/
footer {
    background-color: var(--pink);
    color: white;
    padding: 3% 10%;
}
.footer-links-container {
    display: flex;
    justify-content: space-around;
}
.footer_column {
    width: 30%;
    list-style: none;
}
.footer_href {
    text-decoration: none;
    color: white;
}
.footer_href:hover {
    color: rgb(199, 24, 59);
}
.logo {
    margin-bottom: 1.5em;
}
.footer_header {
    font-size: 24px;
    font-weight: bold;
}
.copyright {
    padding-top: 2em;
    padding-bottom: 0;
}
/*Добавление адаптивности*/
@media screen and (max-width: 760px) {
    .customer_photo {
        display: none;
    }
    .sofa {
        display: none;
    }
    .sign_up {
        height: 250px;
    }
}